.button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  color: #767676;
  cursor: pointer;
  padding: 0 12px;
  height: 17px;
}
i {
  margin-right: 10px;
  font-size: 12px;
  width: 10px;
}
