.tasks__item {
  width: 100%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  span {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .checkbox {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    input {
      display: none;
      z-index: -1;
    }
    label {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border: 2px solid #e8e8e8;
      box-sizing: border-box;
      margin: 0;
      border-radius: 100%;
      svg {
        color: #000000;
        margin: 0;
      }
      &:hover {
        background-color: #e8e8e8;
        svg {
          path {
            stroke: #b3b3b3;
          }
        }
      }
    }
    input:checked ~ label {
      background-color: #4dd599;
      border-color: #4dd599;
      svg {
        path {
          stroke: white;
        }
      }
    }
  }
  &:hover {
    .delete {
      display: flex;
    }
  }
  .delete {
    justify-self: end;
    width: fit-content;
    height: 17px;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &__icon {
      margin: 0;
      width: 10px;
      height: 10px;
      font-size: 10px;
      color: #dddddd;
      &:hover {
        color: #c7c7c7;
      }
    }
  }
}

// <i class="fas fa-check"></i>
